* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #601522;
    width: 100%;
}

h1 {
    font-size: 2vw;
}

main {
    width: 60%;
    background-color: #000;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container.title {
    margin-top: 5%;
    width: max-content;
    height: min-content;
    border: 2px solid red;
    padding: 5px;
}

.container.options-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid red;
    border-radius: 10px;
    height: 20%;
    width: 80%;
    padding: 20px;
}

.container.options-inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.container.options-inner div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 150px;
    border: 2px solid red;
    background-color: #601522;
}

.container.options-inner div:hover {
    background-color: #fff;
    color: #601522;
    height: 100px;
    width: 170px;
    border-radius: 5px;
    cursor: pointer;
}

.container.options-inner div i {
    font-size: 2rem;
}

.score-container-outer {
    display: flex;
    justify-content: space-between;
    height: 30%;
    border: 2px solid red;
    width: 60%;
    padding: 20px;
}

.score-container-inner {
    width: 50%;
    height: 100%;

}

.scorediv {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-division {
    height: 2px;
    width: 100%;
    background-color: #000;
}

.score-container-division {
    height: 100%;
    width: 2px;
    background-color: #000;
}

.winner-container {
    width: 50%;
    height: 100%;
}

.currentwinner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.winner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.score-container-outer p {
    font-size: 2rem;
    width: 70%;
}

.scoresquare{
    width:30px;
    height: 30px;
    border: 2px solid red;
}

.score-container-outer p{
    text-align: center;
}